h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}
@font-face{
    font-family: "Yandex Sans";
    src: url(../fonts/YandexSansDisplay-Regular.woff) format(woff);
    font-weight: 500;
}
@font-face{
    font-family: "Yandex Sans";
    src: url(../fonts/YandexSansText-Medium.woff) format(woff);
    font-weight: 400;
}
*{
    font-family: "Yandex Sans";
}