.meetup-info{
    padding-bottom: 64px;
    &__top{
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        width: 374px;
        margin-bottom: 40px;
    }
    p{
        width: 76%;
        color: rgba(255, 255, 255, 0.20);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -0.36px;
        display: block;
        margin-bottom: 40px;
    }
    &__botomm{
        width: 63%;
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 160px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
       
    }
    &__statistics{
        width: 48%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center center;
        padding: 40px 0;
        border-radius: 24px;
        background-color: $yellow-color;
        row-gap: 10px;
        &__number{
            font-size: 56px;
            font-weight: 500;
            line-height: 80px;
            letter-spacing: -0.56px;
            display: flex;
            gap: 3px;
        }
        &__count{
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
        }
        }


    }   
